<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
	        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        default-autowire="byName">

    <description>Sping Task配置</description>

    <context:component-scan base-package="com.wangzunbin.quartz.timer"/>

    <task:scheduler id="scheduler" pool-size="1"/>

    <task:annotation-driven scheduler="scheduler" proxy-target-class="true"/>
</beans>